<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../public/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../public/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../public/favicon-16x16.png">
<link rel="manifest" href="../public/site.webmanifest">
    <link rel="stylesheet" href="../public/style.css">
    <title>Home</title>
</head>
<body>
    <main id="mainContainer">
        <div id="welcome">
            <a href="/"><img id="logo" src="../public/android-chrome-192x192.png" alt="logo"></a>
            <p id="dot">...YOUR HAPPINESS IS OUR PRIORITY, be happy on your birthday..</p>
        </div>
        <a id="signupBtn" href="./users/signup">Signup here</a>
        <p class="motivate">What are you waiting for ?</p>
        <p class="motivate"><a href="./users/signup">Signup</a> now to start getting the best birthday wishes.</p>
    </main>
    <footer>
        <p>&COPY;2024 Birthday Wisher. All rights reserved &rBarr; </p>
    </footer>
</body>
</html>